@use 'templates/common';

.card {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 1rem 1rem 1rem 1rem;
}

.card-img-top {
    border-radius: 50%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.list-table {
    margin-top: 1rem;
    margin-left: 2rem;
}
