@use 'templates/common';


.icon svg {
    width: 100%;
    max-width: 24px;
    min-width: 12px;
}

@media (min-width: 576px) { 
    .icon svg {
        width: 16px;
    }
}

@media (min-width: 768px) {
    .icon svg {
        width: 24px;
    }
}