<%- include('../templates/event_header.ejs') %>

<p>
May 20. 6 pm. “Bad Roads”. Ukrainian Movie Screening Fundraiser.
Posted on Monday May 16th, 2022
</p>
<p>
Ukrainian Association of Washington State, Hong Kong Democracy & Human Rights Association at UW, and Reason8films are proud to present a screening of the Ukrainian movie “Bad Roads” – a 2021 Oscar submission from Ukraine for the Best International Film. Join us to watch an omnibus drama about fraught encounters in Ukraine’s conflict zones. Please, register and make a what-you-can donation. Your donation will be split between filmmakers who are now helping Ukraine win its heroic fight and the purchase of incubators for prematurely born babies in Ukraine due to war. After the screening, we will discuss with Ukrainian art community representatives Sashko Danylenko and Anastasia Babenkoand a remote presentation from the filmmaker about the main ideas, actual events that inspired the play, and the filmmaking process. The movie will be screened in its original language (Ukrainian) with English subtitles. Recommended age for the film is 18+.
</p>
<p>
Register for tickets <a href="https://www.eventbrite.com/e/ukrainian-movie-screening-fundraiser-tickets-335630769667">>here</a>
</p>
<p>
<a href="https://www.ted.com/profiles/5734168/about">Sashko Danylenko</a> is a filmmaker, visual storyteller, illustrator, and multimedia artist from Ukraine. And <a href="https://www.anastasiababenko.com/bio">Anastasia Babenko</a> is a Ukrainian writer and director currently based in Seattle.
</p>
<p>
The venue location is 3940 Benton Ln NE, Seattle, WA, at UW Guggenheim Hall – it is located just on the east side of the Drumheller Fountain.
</p>
<p>
Transportation Options:
</p>
<p>
Parking: Park at any UW parking lots listed below for $6/day after 4 pm (daily visitor permit) EXCEPT Central Garage under Red Square. There are two methods:
</p>
<p>
SELF-SERVE – Go to these parking lots with a pay machine/PayByPhone. The closest and biggest lot is N20/21 Padelford Garage with escalators up (5 min walk), N22 for ADA only <a href="https://transportation.uw.edu/park/visitor/self-serve" target="_blank">https://transportation.uw.edu/park/visitor/self-serve</a>
</p>
<p>
GATEHOUSE – Purchase permit in-person to a closer lot C17, C15, C14, and C22. Only Central Plaza Garage and South Gatehouse are currently open. <a href="https://transportation.uw.edu/park/visitor" target="_blank">https://transportation.uw.edu/park/visitor</a>
</p>
<p>
Transit: 5 min walk up Rainier Vista from light rail link UW station
</p>
<p>
<a href="https://www.facebook.com/reason8films" target="_blank">facebook.com/reason8films</a>
</p>
<p>
  <a href="https://www.facebook.com/Hong-Kong-Democracy-Human-Rights-Association-at-UW-101908301323609" target="_blank">facebook.com/Hong-Kong-Democracy-Human-Rights
</p>

<%- include('../templates/event_footer.ejs') %>
