<%- include('../templates/event_header.ejs') %>

<p>
The iconic documentary is about one of the most important moments in Ukrainian history. Meet the filmmaker. Proceeds will be donated to aid Ukraine.
</p>
<p>
In February 2014, Ukraine's Maidan revolution began the latest episode in the country's long history of fighting for independence from Russian intervention and oppression. Winter on Fire brilliantly captures the violence of the Yanukovych regime, the bravery of the Ukrainian people, and their indomitable will to be free. With Putin's latest invasion of Ukraine, that fight has never been more desperate.
</p>
<p>
You can help.
</p>
<p>
Register to join us on Sunday, June 19th, 2022, at the SIFF Egyptian Theater on Capitol Hill for a screening of Winter on Fire, including a Q&A with the Director, Evgeny Afineevsky. All proceeds will benefit the Ukrainian Association of Washington State uaws.org, which is actively working to support critical efforts in Ukraine, including raising money for neonatal incubators to help support the significant increase in premature births in Ukraine due to the stress of the war.
</p>
<p>
Please register for an <a href="https://www.eventbrite.com/e/benefit-for-ukraine-film-winter-on-fire-tickets-354993825087">event on Eventbrite</a>
</p>
<p>
We hope you'll join us. Слава Україні!
</p>

<%- include('../templates/event_footer.ejs') %>
