<%- include('../templates/event_header.ejs') %>

  <p>
    Join us and spread the word about our official annual celebration of Ukraine’s Independence Day!
  </p>
  <p>
    We are extremely excited to invite you to celebrate Ukraine’s Independence Day with an unforgettable concert and our
    special guest, one of the most well-known Ukrainian rock bands, SKAI.
  </p>
  <p>
    During our event you will be able to experience traditional Ukrainian cuisine, purchase various things at different
    vendor booths, enjoy Ukrainian inspired photo centers for all ages, fun activities for adults and kids, and much
    more!
  </p>
  <p>
    A recommended donation of $10/person or more will be greatly appreciated and welcome at the entrance. Funds raised
    from donations will benefit the Ukrainian Association of Washington State’s (UAWS) projects that have been focusing
    on purchasing life-saving medical equipment and supplies such as Neonatal Instance Care Units (NICU), Individual
    First Aid Kits (IFAK), and Handheld Portable Ultrasound devices that will be sent to Ukraine.
  </p>
  <p>
    We welcome and encourage dress code being Ukrainian traditional attire!
  </p>
  <p>
    <%= location %><br />
      Doors open at 12 PM<br />
      SKAI concert at 6 PM<br />
      ALL AGES SHOW<br />
  </p>

  <hr class="my-4" />

  <p>
    Долучайтеся та поширюйте інформацію про наше офіційне щорічне святкування Дня Незалежності України!
  </p>
  <p>
    Ми дуже раді запросити вас на святкування Дня Незалежності України, щоб провести цей день з незабутньою концертною
    програмою та нашим особливим гостем, одним із найвідоміших українських рок-гуртів – Скай.
  </p>
  <p>
    Під час нашого заходу ви зможете скуштувати традиційну українську кухню, придбати різноманітні вироби ручної роботи
    від місцевих українських ремісників на ярмарці, розважатися в фотозонах в українському стилі для будь-якого віку,
    забавлятися спортивними розвагами для дорослих і дітей та багато іншого!
  </p>
  <p>
    Рекомендована пожертва в розмірі 10 доларів США та більше за дорослу людину вітається та дуже цінується на вході. Ці
    кошти, зібрані від пожертвувань, підуть на користь проєктам від Української Асоціації штату Вашингтон (UAWS), які
    зосереджені на закупівлі життєво необхідного, медичного обладнання та матеріалів, а саме пристрої неонатальні для
    фототерапії та обігріву для немовлят (NICU), індивідуальні, тактичні аптечки (IFAK) та ручні, портативні УЗД
    прилади, які будуть доставлені в Україну.
  </p>
  <p>
    Дресс код у традиційному українському одязі та строї вітається та заохочується!
  </p>
  <p>
    Двері відчиняються о 12:00
  </p>
  <p>
    Початок концерту Гурту Скай о 18:00
  </p>
  <p>
    Запрошуємо фанів будь якого віку!
  </p>
  <p>
    This entry was tagged <a href="https://uaws.org/tag/standwithukraine/">StandWithUkraine</a>. Bookmark the <a
      href="https://uaws.org/31st-independence-day-of-ukraine-2022/">permalink</a>.
  </p>

  <%- include('../templates/event_footer.ejs') %>
